*

/.config/Code/User/keybindings.json
/.config/Code/User/settings.json
/.config/Code - OSS/User/keybindings.json
/.config/Code - OSS/User/settings.json
/.config/dunst/dunstrc
/.config/fontconfig/fonts.conf
/.config/nvim/init.lua
/.config/picom/picom.conf
/.config/tmux/tmux.conf
/.config/wezterm/wezterm.lua
/.bash_aliases
/.gitignore
/.vimrc
/.xinitrc
/README.md
