*

# find -path ./.git -prune -o ! -type d -print | LC_ALL=C sort | sed 's/^./!/'
!/.bashrc
!/.config/Code - OSS/User/keybindings.json
!/.config/Code - OSS/User/settings.json
!/.config/Code/User/keybindings.json
!/.config/Code/User/settings.json
!/.config/chromium-flags.conf
!/.config/clangd/config.yaml
!/.config/dunst/dunstrc.in
!/.config/fcitx5/conf/classicui.conf.in
!/.config/fcitx5/conf/pinyin.conf
!/.config/fontconfig/fonts.conf
!/.config/nvim/init.lua
!/.config/picom/picom.conf
!/.config/tmux/tmux.conf
!/.config/wezterm/wezterm.lua
!/.gitignore
!/.vimrc
!/.xinitrc
!/README.md
